services:
  web:
    # profiles: ["php8"]
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: web
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${WEB_HTTP_PORT:-8080}:80"
      - "${VITE_PORT:-5173}:5173"
    volumes:
      - ../src/urgo:/var/www/html
      # - ../src/urgo:/var/www/html/urgo
      - ./src/tmp/xdebug-traces:/var/www/html/tmp/xdebug-traces
      - composer_cache:/tmp/composer
      # Load all Apache vhost files dynamically from host
      - ./docker/apache:/etc/apache2/sites-enabled:ro
      - app_logs:${LOG_WEB_PATH:-/var/logs/web}

    working_dir: /var/www/html
    environment:
      COMPOSER_HOME: /tmp/composer
      COMPOSER_CACHE_DIR: /tmp/composer/cache
      XDG_CACHE_HOME: /tmp/.cache

      MYSQL_HOST: ${MYSQL_HOST:-db}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-dev}
      MYSQL_USER: ${MYSQL_USER:-root}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-rootpass}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD:-rootpass}

      # Elasticsearch endpoint for app logging
      ELASTICSEARCH_URL: ${ELASTICSEARCH_URL:-http://${ELASTICSEARCH_HOST:-elasticsearch}:${ELASTICSEARCH_PORT:-9200}}
      # XDEBUG_MODE: debug,develop
      # XDEBUG_CONFIG: client_host=h+ost.docker.internal client_port=9003
    networks:
      - app-net
    labels:
      - traefik.enable=true
      - traefik.docker.network=app-net
      - traefik.http.routers.dev.rule=Host(`dev.${DOMAIN:-localhost}`) || Host(`dev.test`)
      - traefik.http.routers.dev.entrypoints=web
      - traefik.http.routers.dev.service=dev
      - traefik.http.services.dev.loadbalancer.server.port=80
volumes:
  app_logs:
  composer_cache:

networks:
  app-net:
    external: true
    name: app-net